#pause-menu,
#gameover-menu {
    margin: auto;
    margin-top: 40vh;
    padding: 50px 30px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.589);
    border: 1px solid grey;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 2em;
}

#overlay-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
}

.hidden {
    display: none !important;
}

canvas {
    transition: filter 0.33s;
}

.blur {
    filter: blur(5px);
}

#game-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
